.color-navbar {
  background-color: #21D4FD!important;
  background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
}

.color-texto-marca {
  color: #1e3d87 !important;
}

.margen-superior-main {
  margin-top: 60px;
} 